@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap");
body {
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(29, 29, 29);
  color: white;
}

/* Remove number input arrows */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#tsparticles {
  position: absolute !important;
  z-index: -1 !important;
}

.nav-link::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #ffffff;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.nav-link:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.loading-spinner {
  width: 5em;
  height: 5em;
}

.loading-bar {
  width: 3em;
}

.arrow {
  width: 15px;
  height: 15px;
  border-top: 5px solid #000;
  border-left: 5px solid #000;
}

.btn-primary {
  @apply bg-violet-900 text-white rounded-md px-3 py-2 text-xl font-medium hover:translate-y-1 transition-all;
}

.off-screen-left {
  left: -25vw;
}

.off-screen-right {
  left: 125vw;
}

@keyframes slow-spin {
  to {
    transform: rotate(360deg);
  }
}
.slow-spin {
  animation: spin 5s linear infinite;
}
