.markdown-section h1 {
  font-size: 3rem;
}
.markdown-section h2 {
  font-size: 2rem;
}

/*:root {*/
/*    --mono-hue: 250;*/
/*    --mono-saturation: 10%;*/
/*    --base-background-color: var(--mono-shade2);*/
/*}*/

code {
  background-color: #303030;
}

.content h2 {
  border: none;
}
