@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400&display=swap");
body {
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(29, 29, 29);
  color: white;
}

.markdown-section h1 {
  font-size: 3rem;
}
.markdown-section h2 {
  font-size: 2rem;
}

:root {
    --mono-hue: 250;
    --mono-saturation: 10%;
    --base-background-color: #1d1d1d;
    --code-inline-background: rgb(43 45 49);
    --sidebar-nav-link-border-color--active: rgb(185 28 28);
    --sidebar-nav-link-color--active: rgb(185 28 28);
    --heading-h1-font-weight: 600;
}

.content h2 {
  border: none;
}

.sidebar {
  background: none;
}
